{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <form method="post" class="row g-3">
        <div class="col-md-12">
            <div class="card bg-primary text-white border-0 rounded">
                <div class="card-header d-flex justify-content-between">
                    <h2 class="card-title mb-0">Add or Edit Risk</h2>
                    <button type="submit" class="btn btn-light">Save Risk</button>
                </div>
            </div>
        </div>
        <div>
            <a href="{% url 'risks' project.id %}">Back to the log</a>
        </div>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary float-end">Save Risk</button>
        </div>
    </form>
</div>

{% endblock content %}